body
{
    background-color: rgba(220, 204, 204, 0.489);
}

button
{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vw; width: 30vw;
    color: floralwhite; background-color: rgb(137, 51, 51);
    font-size: 2vw;
    border-radius: 30px;
    border-color:aquamarine;
    box-shadow: aquamarine;
    position: relative;
    left: 33vw; top:15vw;
}

a
{
    color: rgb(251, 224, 204);
    text-decoration: none;
    font-size: 3.5vw;
    font-weight: 800;

}